body {
    background: #fff;
    color: #000;
}

h1 {
    margin: 10px;
    padding: 0;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 32px;
    color: #aaa;
}

#terminal {
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
